name: Maven Deploy

on:
  push:
    tags:
    - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        server-id: vxcc
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD

    - name: Publish to GitHub Packages Apache Maven
      run: mvn --batch-mode deploy
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
